<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    {{>header}}
    <p>This site uses data from api.mapbox.com for geolocation information and api.weatherstack.com for weather information. </p>
    <img src="./img/hotbabe.jpg">
    {{>footer}}
</body>
</html>